# 忽略 .obsidian 文件夹下的所有内容
.obsidian/

# 忽略 obsidian 垃圾箱中的内容
.trash/

# 忽略 macOS 系统文件
.DS_Store

# 忽略 Windows 系统缩略图缓存
Thumbs.db

# 忽略 Linux 文件管理器生成的缓存
.directory

# 忽略 Obsidian Git 插件的临时文件
.obsidian-git-log.txt

# 忽略 临时或者备份文件
*.swp
